body{
       margin: 10px;
};


@media screen and (min-width: 300px) {
       
       body {
              background: url('assets/images/giphy.gif') no-repeat center center fixed; 
              background-size: cover;
       };
       
       html{
              background: url('assets/images/dragonballs.jpg') no-repeat center center fixed; 
             
}
};